# Hamstrack REST API — OpenAPI 3.0 specification.
#
# Hand-maintained (springdoc does not support Spring Boot 4 yet): when the API
# surface changes, update this file together with docs/api-cloud.md and
# docs/api-dc.md. Served at /openapi.yaml and rendered by the in-app /docs page.
openapi: 3.0.3
info:
  title: Hamstrack REST API
  version: 0.2.0
  description: |
    The HTTP API behind the Hamstrack web app — everything the UI does goes
    through it, and it is available to users for scripting and integrations.

    **Authentication** — call `POST /api/auth/login` and send the returned
    access token as `Authorization: Bearer <token>` (use the **Authorize**
    button here). Tokens expire after 24 h; refresh via the rotating
    `refresh_token` cookie with `POST /api/auth/refresh`.

    **Access model** — a resource you cannot see returns `404`, whether it
    does not exist or you are not a member of its workspace. Lists are
    currently unpaginated (beta). The API is unversioned while in beta;
    breaking changes are announced in release notes.

    **Rate limits** — sensitive auth endpoints share a per-IP budget
    (15 requests/min by default), and repeated failed logins for one account
    trigger an exponential backoff. Both return `429` with a `Retry-After`
    header (seconds).
  contact:
    name: Hamstrack
    url: https://github.com/Zherikhov/easyTask
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: https://hamstrack.com/api
    description: Cloud
  - url: /api
    description: This instance (Cloud or self-hosted DC)

tags:
  - name: Meta
    description: Public instance metadata
  - name: Auth
    description: Registration, login, tokens, password recovery
  - name: Workspaces
    description: Tenancy boundary — members, invites
  - name: Projects
    description: Projects and project membership
  - name: Project config
    description: The effective taxonomy of a project (statuses, transitions, priorities, types)
  - name: Issues
    description: Issues, addressed by project-scoped number
  - name: Comments
    description: Issue comments
  - name: Attachments
    description: Issue file attachments
  - name: Notifications
    description: The current user's notification feed
  - name: Events
    description: Real-time Server-Sent Events
  - name: Admin
    description: Global taxonomy management — requires the system ADMIN role (403 otherwise)

security:
  - bearerAuth: []

paths:
  /meta:
    get:
      tags: [Meta]
      summary: Instance flags and version
      description: Which optional surfaces are enabled on this installation, and the app version.
      operationId: getMeta
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MetaResponse' }

  /auth/register:
    post:
      tags: [Auth]
      summary: Register an account
      description: |
        Sends a verification email. `termsAccepted: true` is required when the
        instance has terms acceptance enabled (see `GET /meta`). Returns `403`
        when the operator disabled public signup.
      operationId: register
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegisterRequest' }
      responses:
        '201':
          description: Registered — verification email sent
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MessageResponse' }
        '400': { $ref: '#/components/responses/ValidationError' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409':
          description: Email is already registered
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /auth/verify-email:
    post:
      tags: [Auth]
      summary: Verify email with the one-time token
      description: Exchanges the emailed token for a session (acts as a login).
      operationId: verifyEmail
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VerifyEmailRequest' }
      responses:
        '200': { $ref: '#/components/responses/AuthOk' }
        '400':
          description: Token is invalid, expired or already used
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /auth/resend-verification:
    post:
      tags: [Auth]
      summary: Re-send the verification email
      description: Always returns `200` — no account enumeration.
      operationId: resendVerification
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MessageResponse' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /auth/login:
    post:
      tags: [Auth]
      summary: Log in
      description: |
        Returns an access token and sets the `refresh_token` cookie
        (`HttpOnly`, `SameSite=Strict`, path `/api/auth`). Unverified accounts
        get `403`.
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginRequest' }
      responses:
        '200': { $ref: '#/components/responses/AuthOk' }
        '401':
          description: Invalid email or password
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
        '403':
          description: Email address is not verified
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Rotate the refresh token
      description: |
        Authenticated by the `refresh_token` cookie. Returns a fresh access
        token and a new cookie; the previous refresh token is invalidated.
      operationId: refresh
      security:
        - cookieAuth: []
      responses:
        '200': { $ref: '#/components/responses/AuthOk' }
        '400':
          description: Missing, invalid or expired refresh token
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }

  /auth/logout:
    post:
      tags: [Auth]
      summary: Log out
      description: Revokes the refresh token and clears the cookie.
      operationId: logout
      security:
        - cookieAuth: []
      responses:
        '204': { description: Logged out }

  /auth/forgot-password:
    post:
      tags: [Auth]
      summary: Request a password reset link
      description: Always returns `200` — no account enumeration.
      operationId: forgotPassword
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MessageResponse' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /auth/reset-password:
    post:
      tags: [Auth]
      summary: Set a new password with the emailed token
      description: Revokes all active sessions on success.
      operationId: resetPassword
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, newPassword]
              properties:
                token: { type: string }
                newPassword: { type: string, minLength: 8, maxLength: 100 }
      responses:
        '200':
          description: Password reset
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MessageResponse' }
        '400':
          description: Token is invalid, expired or already used
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /auth/me:
    get:
      tags: [Auth]
      summary: Current user
      operationId: me
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MeResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /workspaces:
    post:
      tags: [Workspaces]
      summary: Create a workspace
      description: Caller becomes `OWNER`; default issue types and statuses are seeded.
      operationId: createWorkspace
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateWorkspaceRequest' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WorkspaceResponse' }
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    get:
      tags: [Workspaces]
      summary: List my workspaces
      operationId: listWorkspaces
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/WorkspaceResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /workspaces/{workspaceId}:
    get:
      tags: [Workspaces]
      summary: Get a workspace
      operationId: getWorkspace
      parameters:
        - $ref: '#/components/parameters/workspaceId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WorkspaceResponse' }
        '404': { $ref: '#/components/responses/NotFound' }

  /workspaces/{workspaceId}/members:
    get:
      tags: [Workspaces]
      summary: List workspace members
      operationId: listWorkspaceMembers
      parameters:
        - $ref: '#/components/parameters/workspaceId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/WorkspaceMemberResponse' }
        '404': { $ref: '#/components/responses/NotFound' }

  /workspaces/{workspaceId}/invites:
    post:
      tags: [Workspaces]
      summary: Invite a member by email
      description: |
        Requires workspace `ADMIN`. The granted role must not exceed your own
        and can never be `OWNER`. The invite is bound to the invited email.
      operationId: inviteMember
      parameters:
        - $ref: '#/components/parameters/workspaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/InviteMemberRequest' }
      responses:
        '201':
          description: Invite sent
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MessageResponse' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: User is already a member
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }

  /workspaces/accept-invite:
    post:
      tags: [Workspaces]
      summary: Accept an invite
      description: Must be signed in with the invited email address.
      operationId: acceptInvite
      parameters:
        - name: token
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Joined the workspace
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WorkspaceResponse' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Already a member
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }

  /workspaces/{workspaceId}/projects:
    post:
      tags: [Projects]
      summary: Create a project
      description: Caller becomes project `MANAGER`. Key is unique per workspace.
      operationId: createProject
      parameters:
        - $ref: '#/components/parameters/workspaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateProjectRequest' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProjectResponse' }
        '400': { $ref: '#/components/responses/ValidationError' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Project key already exists in the workspace
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
    get:
      tags: [Projects]
      summary: List projects
      operationId: listProjects
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - name: includeArchived
          in: query
          schema: { type: boolean, default: false }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ProjectResponse' }
        '404': { $ref: '#/components/responses/NotFound' }

  /workspaces/{workspaceId}/projects/{projectId}:
    get:
      tags: [Projects]
      summary: Get a project
      operationId: getProject
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProjectResponse' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      tags: [Projects]
      summary: Update name / description
      description: Requires project `MANAGER`.
      operationId: updateProject
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/projectId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateProjectRequest' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProjectResponse' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /workspaces/{workspaceId}/projects/{projectId}/archive:
    post:
      tags: [Projects]
      summary: Archive a project
      description: Requires project `MANAGER`. Archived projects reject issue mutations.
      operationId: archiveProject
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/projectId'
      responses:
        '204': { description: Archived }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /workspaces/{workspaceId}/projects/{projectId}/unarchive:
    post:
      tags: [Projects]
      summary: Restore an archived project
      description: Requires project `MANAGER`.
      operationId: unarchiveProject
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/projectId'
      responses:
        '204': { description: Restored }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /workspaces/{workspaceId}/projects/{projectId}/members:
    get:
      tags: [Projects]
      summary: List project members
      operationId: listProjectMembers
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ProjectMemberResponse' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      tags: [Projects]
      summary: Add a project member
      description: Requires project `MANAGER`. The user must already be a workspace member.
      operationId: addProjectMember
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/projectId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AddProjectMemberRequest' }
      responses:
        '201':
          description: Added
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProjectMemberResponse' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Already a project member
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }

  /workspaces/{workspaceId}/projects/{projectId}/members/{userId}:
    delete:
      tags: [Projects]
      summary: Remove a project member
      description: Requires project `MANAGER`.
      operationId: removeProjectMember
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/projectId'
        - name: userId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204': { description: Removed }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /workspaces/{workspaceId}/projects/{projectId}/config:
    get:
      tags: [Project config]
      summary: Effective taxonomy of a project
      description: |
        Everything needed to render the board and issue forms: statuses of the
        project's workflow (board-column order), transition rules (empty =
        all moves allowed), offered priorities with the default for new
        issues, the issue types of the project's type set, and the custom
        fields of the project's field set (display order, with create-form
        flags). Workspace members only.
        Replaced the workspace-scoped `/statuses`, `/issue-types` and
        `/status-transitions` endpoints.
      operationId: getProjectConfig
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProjectConfig' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ---- System administration (system ADMIN role only) ----

  /admin/statuses:
    get:
      tags: [Admin]
      summary: List catalog statuses (admin)
      operationId: adminListStatuses
      responses:
        '200':
          description: Catalog with usage counts
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AdminStatus' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Admin]
      summary: Create a status (admin)
      operationId: adminCreateStatus
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpsertStatus' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminStatus' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409':
          description: Name already exists
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }

  /admin/statuses/{id}:
    patch:
      tags: [Admin]
      summary: Update a status (admin)
      operationId: adminUpdateStatus
      parameters: [ { $ref: '#/components/parameters/adminId' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpsertStatus' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminStatus' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Admin]
      summary: Delete a status, optionally remapping issues (admin)
      description: |
        409 while issues reference the status and `replaceWithId` is absent,
        or when the deletion would leave a workflow empty / the replacement
        is not part of every affected workflow. `POST /{id}/archive` and
        `/{id}/unarchive` (not listed individually) hide an entry from new
        use instead. The same delete/archive semantics apply to priorities
        and issue types.
      operationId: adminDeleteStatus
      parameters:
        - $ref: '#/components/parameters/adminId'
        - name: replaceWithId
          in: query
          schema: { type: string, format: uuid }
      responses:
        '204': { description: Deleted }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: In use — remap required or blocked by integrity rules
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }

  /admin/priorities:
    get:
      tags: [Admin]
      summary: List catalog priorities (admin)
      description: Full CRUD mirrors `/admin/statuses` — POST, PATCH `/{id}`, DELETE `/{id}?replaceWithId=`, POST `/{id}/archive|unarchive`.
      operationId: adminListPriorities
      responses:
        '200':
          description: Catalog with usage counts
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AdminPriority' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /admin/issue-types:
    get:
      tags: [Admin]
      summary: List catalog issue types (admin)
      description: Full CRUD mirrors `/admin/statuses`.
      operationId: adminListIssueTypes
      responses:
        '200':
          description: Catalog with usage counts
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AdminIssueType' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /admin/fields:
    get:
      tags: [Admin]
      summary: List catalog custom fields (admin)
      description: |
        POST creates a field (`key` blank = derived from the name; key and
        type are immutable afterwards — stored values depend on them), PATCH
        `/{id}` updates name/config/description, POST `/{id}/archive` and
        `/{id}/unarchive` hide a field from forms without touching values.
        DELETE `/{id}` refuses (409) while issues hold values for the field
        unless `?dropValues=true` is passed — the values are then dropped;
        there is no remap across arbitrary value shapes.
      operationId: adminListFields
      responses:
        '200':
          description: Catalog with usage counts
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AdminField' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Admin]
      summary: Create a custom field (admin)
      operationId: adminCreateField
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpsertField' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminField' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409':
          description: Name or key already exists
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
        '422':
          description: Select field without options / option missing id or label
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }

  /admin/field-sets:
    get:
      tags: [Admin]
      summary: List field sets (admin)
      description: |
        POST / PATCH `/{id}` take `{name, items:[{fieldId, required,
        showOnCreate}]}` (full replacement, display order; a required field
        is always shown on create); DELETE refuses while projects use the
        set. The system default set ("No fields") is empty and not deletable.
      operationId: adminListFieldSets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AdminFieldSet' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /admin/workflows:
    get:
      tags: [Admin]
      summary: List workflows (admin)
      operationId: adminListWorkflows
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AdminWorkflow' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Admin]
      summary: Create a workflow (admin)
      description: |
        `PATCH /admin/workflows/{id}` takes the same body (full replacement
        of statuses and transitions; 409 when a removed status still holds
        issues in bound projects). `DELETE /admin/workflows/{id}` refuses
        (409) while projects use the workflow; the system default is not
        deletable.
      operationId: adminCreateWorkflow
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpsertWorkflow' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminWorkflow' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409':
          description: Name already exists
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }

  /admin/statuses/{id}/usage:
    get:
      tags: [Admin]
      summary: Usage detail of a catalog entry (admin)
      description: |
        The expansion behind a usage chip — names instead of counts: the
        workflows/sets containing the entry and the projects that effectively
        use it through them (deduplicated; projects on a system default are
        included). The same endpoint exists for the other catalogs:
        `GET /admin/priorities/{id}/usage`, `GET /admin/issue-types/{id}/usage`,
        `GET /admin/fields/{id}/usage` (not listed individually).
      operationId: adminStatusUsage
      parameters: [ { $ref: '#/components/parameters/adminId' } ]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UsageDetail' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /admin/priority-sets:
    get:
      tags: [Admin]
      summary: List priority sets (admin)
      description: POST / PATCH `/{id}` take `{name, items:[{priorityId, isDefault}]}` (full replacement, display order); DELETE refuses while projects use the set.
      operationId: adminListPrioritySets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AdminPrioritySet' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /admin/issue-type-sets:
    get:
      tags: [Admin]
      summary: List issue type sets (admin)
      description: |
        POST / PATCH `/{id}` take `{name, typeIds: […]}` (full replacement,
        display order; a set can never be empty); DELETE refuses while
        projects use the set, and the system default ("All types") is not
        deletable. A type set restricts only issue creation and type changes —
        existing issues keep a type that has left the set.
      operationId: adminListIssueTypeSets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AdminIssueTypeSet' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /admin/projects:
    get:
      tags: [Admin]
      summary: Assignment matrix — all projects × bindings (admin)
      operationId: adminListProjects
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ProjectBinding' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /admin/projects/{id}/bindings:
    patch:
      tags: [Admin]
      summary: Change a project's workflow / priority / field / type set (admin)
      description: |
        Full replacement of all bindings; `null` = the system default. 409
        when the project has issues in statuses the new workflow lacks.
        Field/type set changes are always allowed — values stay stored,
        issues keep their type.
      operationId: adminUpdateProjectBindings
      parameters: [ { $ref: '#/components/parameters/adminId' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workflowId: { type: string, format: uuid, nullable: true }
                prioritySetId: { type: string, format: uuid, nullable: true }
                fieldSetId: { type: string, format: uuid, nullable: true }
                issueTypeSetId: { type: string, format: uuid, nullable: true }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProjectBinding' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Issues would be stranded in statuses the new workflow lacks
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }

  /workspaces/{workspaceId}/projects/{projectId}/issues:
    post:
      tags: [Issues]
      summary: Create an issue
      description: |
        `assigneeId` must be a workspace member; `parentId` links a sub-task
        to a parent issue in the same project. The issue gets the next
        sequential project-scoped `number`.
      operationId: createIssue
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/projectId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateIssueRequest' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IssueResponse' }
        '400': { $ref: '#/components/responses/ValidationError' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Project is archived
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
        '422': { $ref: '#/components/responses/UnprocessableReference' }
    get:
      tags: [Issues]
      summary: List issues
      operationId: listIssues
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/projectId'
        - name: statusId
          in: query
          schema: { type: string, format: uuid }
        - name: assigneeId
          in: query
          schema: { type: string, format: uuid }
        - name: priorityId
          in: query
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/IssueResponse' }
        '404': { $ref: '#/components/responses/NotFound' }

  /workspaces/{workspaceId}/projects/{projectId}/issues/{number}:
    get:
      tags: [Issues]
      summary: Get an issue
      operationId: getIssue
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/issueNumber'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IssueResponse' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      tags: [Issues]
      summary: Update an issue
      description: |
        Partial update — send any subset of fields plus the `version` you last
        read; a stale version returns `409` (omit `version` to skip the check).
        Status changes are validated against workflow transition rules (`422`
        when forbidden).
      operationId: updateIssue
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/issueNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateIssueRequest' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IssueResponse' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Stale `version` — the issue was modified by someone else, or the project is archived
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
        '422': { $ref: '#/components/responses/UnprocessableReference' }
    delete:
      tags: [Issues]
      summary: Delete an issue
      description: Requires project `MANAGER`. Removes comments and attachment files too.
      operationId: deleteIssue
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/issueNumber'
      responses:
        '204': { description: Deleted }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /workspaces/{workspaceId}/projects/{projectId}/issues/{number}/history:
    get:
      tags: [Issues]
      summary: Field-level change history
      operationId: getIssueHistory
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/issueNumber'
      responses:
        '200':
          description: OK, oldest first
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/IssueHistoryResponse' }
        '404': { $ref: '#/components/responses/NotFound' }

  /workspaces/{workspaceId}/projects/{projectId}/issues/{number}/comments:
    post:
      tags: [Comments]
      summary: Add a comment
      description: '`@DisplayName` mentions notify the mentioned workspace members.'
      operationId: createComment
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/issueNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateCommentRequest' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CommentResponse' }
        '404': { $ref: '#/components/responses/NotFound' }
    get:
      tags: [Comments]
      summary: List comments
      description: Soft-deleted comments are excluded.
      operationId: listComments
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/issueNumber'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/CommentResponse' }
        '404': { $ref: '#/components/responses/NotFound' }

  /workspaces/{workspaceId}/projects/{projectId}/issues/{number}/comments/{commentId}:
    patch:
      tags: [Comments]
      summary: Edit a comment
      description: Author only.
      operationId: updateComment
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/issueNumber'
        - $ref: '#/components/parameters/commentId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateCommentRequest' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CommentResponse' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Comments]
      summary: Delete a comment (soft)
      description: Author only.
      operationId: deleteComment
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/issueNumber'
        - $ref: '#/components/parameters/commentId'
      responses:
        '204': { description: Deleted }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /workspaces/{workspaceId}/projects/{projectId}/issues/{number}/attachments:
    post:
      tags: [Attachments]
      summary: Upload an attachment
      description: '`multipart/form-data` with a `file` field. Default size limit 25 MB (`413` when exceeded).'
      operationId: uploadAttachment
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/issueNumber'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Uploaded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AttachmentResponse' }
        '404': { $ref: '#/components/responses/NotFound' }
        '413':
          description: File exceeds the upload size limit
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
    get:
      tags: [Attachments]
      summary: List attachments
      operationId: listAttachments
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/issueNumber'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AttachmentResponse' }
        '404': { $ref: '#/components/responses/NotFound' }

  /workspaces/{workspaceId}/projects/{projectId}/issues/{number}/attachments/{attachmentId}:
    get:
      tags: [Attachments]
      summary: Download an attachment
      operationId: downloadAttachment
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/issueNumber'
        - $ref: '#/components/parameters/attachmentId'
      responses:
        '200':
          description: 'Binary content, `Content-Disposition: attachment`'
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Attachments]
      summary: Delete an attachment
      description: Uploader or project `MANAGER`.
      operationId: deleteAttachment
      parameters:
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/issueNumber'
        - $ref: '#/components/parameters/attachmentId'
      responses:
        '204': { description: Deleted }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /notifications:
    get:
      tags: [Notifications]
      summary: List my notifications
      description: Across all workspaces, newest first.
      operationId: listNotifications
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/NotificationResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /notifications/unread-count:
    get:
      tags: [Notifications]
      summary: Unread counter
      operationId: unreadCount
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count: { type: integer, format: int64, example: 3 }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /notifications/{id}/read:
    post:
      tags: [Notifications]
      summary: Mark one as read
      operationId: markNotificationRead
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationResponse' }
        '404': { $ref: '#/components/responses/NotFound' }

  /notifications/read-all:
    post:
      tags: [Notifications]
      summary: Mark all as read
      operationId: markAllNotificationsRead
      responses:
        '204': { description: Done }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /workspaces/{workspaceId}/sse:
    get:
      tags: [Events]
      summary: Subscribe to workspace events (SSE)
      description: |
        Server-Sent Events stream (`text/event-stream`), workspace members
        only. Event names: `ISSUE_CREATED`, `ISSUE_UPDATED`, `ISSUE_DELETED`
        (data: `{"projectId", "issueNumber"}`) and `NOTIFICATION`. Reconnect
        with standard `EventSource` retry semantics.
      operationId: subscribeSse
      parameters:
        - $ref: '#/components/parameters/workspaceId'
      responses:
        '200':
          description: Event stream
          content:
            text/event-stream:
              schema: { type: string }
        '404': { $ref: '#/components/responses/NotFound' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Access token from `POST /api/auth/login` (24 h lifetime).
    cookieAuth:
      type: apiKey
      in: cookie
      name: refresh_token
      description: Rotating refresh token cookie set on login (30-day lifetime, path `/api/auth`).

  parameters:
    workspaceId:
      name: workspaceId
      in: path
      required: true
      schema: { type: string, format: uuid }
    projectId:
      name: projectId
      in: path
      required: true
      schema: { type: string, format: uuid }
    issueNumber:
      name: number
      in: path
      required: true
      description: Project-scoped issue number (the `42` in `DEMO-42`)
      schema: { type: integer, format: int64 }
    commentId:
      name: commentId
      in: path
      required: true
      schema: { type: string, format: uuid }
    attachmentId:
      name: attachmentId
      in: path
      required: true
      schema: { type: string, format: uuid }
    adminId:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }

  responses:
    AuthOk:
      description: Authenticated — access token in body, refresh cookie set
      content:
        application/json:
          schema: { $ref: '#/components/schemas/AuthResponse' }
    Unauthorized:
      description: Missing, expired or invalid access token
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetail' }
    Forbidden:
      description: Authenticated but not allowed (insufficient role)
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetail' }
    NotFound:
      description: Not found — or not a member of the containing workspace
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetail' }
    ValidationError:
      description: Failed validation — see the `errors` map
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ValidationProblemDetail' }
    UnprocessableReference:
      description: Unknown status/type/assignee/parent, or a workflow-forbidden transition
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetail' }
    TooManyRequests:
      description: Rate limited — retry after the number of seconds in the `Retry-After` header
      headers:
        Retry-After:
          description: Seconds to wait before retrying
          schema: { type: integer }
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetail' }

  schemas:
    ProblemDetail:
      type: object
      description: RFC 9457 problem details
      properties:
        type: { type: string, example: 'about:blank' }
        title: { type: string, example: Conflict }
        status: { type: integer, example: 409 }
        detail: { type: string, example: Issue was modified by someone else — refresh and retry }

    ValidationProblemDetail:
      allOf:
        - $ref: '#/components/schemas/ProblemDetail'
        - type: object
          properties:
            errors:
              type: object
              additionalProperties: { type: string }
              example: { email: must be a well-formed email address }

    MessageResponse:
      type: object
      properties:
        message: { type: string }

    MetaResponse:
      type: object
      properties:
        publicLandingEnabled: { type: boolean }
        termsAcceptanceRequired: { type: boolean }
        publicSignupEnabled: { type: boolean }
        version: { type: string, example: 0.2.0 }

    RegisterRequest:
      type: object
      required: [email, password, displayName]
      properties:
        email: { type: string, format: email }
        password: { type: string, minLength: 8, maxLength: 100 }
        displayName: { type: string, minLength: 2, maxLength: 100 }
        termsAccepted:
          type: boolean
          description: Required to be `true` when the instance enforces terms acceptance

    VerifyEmailRequest:
      type: object
      required: [token]
      properties:
        token: { type: string, description: One-time token from the verification email }

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string }

    AuthResponse:
      type: object
      properties:
        accessToken: { type: string, description: JWT for the Authorization header }
        expiresIn: { type: integer, format: int64, example: 86400, description: 'Access token lifetime, seconds' }
        userId: { type: string, format: uuid }
        email: { type: string, format: email }
        displayName: { type: string }

    MeResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        displayName: { type: string }
        avatarUrl: { type: string, nullable: true }

    WorkspaceRole:
      type: string
      enum: [OWNER, ADMIN, MEMBER]

    ProjectRole:
      type: string
      enum: [MANAGER, MEMBER, VIEWER]

    Priority:
      type: object
      description: Catalog entity (was a closed enum before M1)
      properties:
        id: { type: string, format: uuid }
        name: { type: string, example: High }
        color: { type: string, example: '#EA580C' }
        icon: { type: string, nullable: true, example: chevron-up, description: lucide icon name }
        position: { type: integer }

    StatusCategory:
      type: string
      enum: [TODO, IN_PROGRESS, DONE]
      description: Drives board grouping and backlog filtering

    # ---- Admin console schemas ----

    UsageInfo:
      type: object
      description: Where a catalog entry is used; counts irrelevant to the type are 0
      properties:
        workflows: { type: integer, format: int64 }
        sets: { type: integer, format: int64 }
        projects: { type: integer, format: int64 }
        issues: { type: integer, format: int64 }

    UpsertStatus:
      type: object
      required: [name, category]
      properties:
        name: { type: string, maxLength: 100 }
        category: { $ref: '#/components/schemas/StatusCategory' }
        color: { type: string, pattern: '^#[0-9A-Fa-f]{6}$', example: '#3B82F6' }
        position: { type: integer, nullable: true, description: Omitted = appended last }

    AdminStatus:
      allOf:
        - $ref: '#/components/schemas/StatusResponse'
        - type: object
          properties:
            archived: { type: boolean }
            usage: { $ref: '#/components/schemas/UsageInfo' }

    AdminPriority:
      allOf:
        - $ref: '#/components/schemas/Priority'
        - type: object
          properties:
            archived: { type: boolean }
            usage: { $ref: '#/components/schemas/UsageInfo' }

    AdminIssueType:
      allOf:
        - $ref: '#/components/schemas/IssueTypeResponse'
        - type: object
          properties:
            archived: { type: boolean }
            usage: { $ref: '#/components/schemas/UsageInfo' }

    UpsertWorkflow:
      type: object
      required: [name, statusIds]
      properties:
        name: { type: string, maxLength: 100 }
        description: { type: string, nullable: true }
        statusIds:
          type: array
          description: Board-column order
          items: { type: string, format: uuid }
        transitions:
          type: array
          items: { $ref: '#/components/schemas/TransitionRule' }

    AdminWorkflow:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string, example: Dev workflow }
        description: { type: string, nullable: true }
        systemDefault: { type: boolean, description: Used by projects without a binding; not deletable }
        statuses:
          type: array
          items: { $ref: '#/components/schemas/StatusResponse' }
        transitions:
          type: array
          items: { $ref: '#/components/schemas/TransitionRule' }
        projectsUsing: { type: integer, format: int64 }

    AdminPrioritySet:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string, example: Default priorities }
        systemDefault: { type: boolean }
        items:
          type: array
          items:
            type: object
            properties:
              priority: { $ref: '#/components/schemas/Priority' }
              isDefault: { type: boolean, description: Default for new issues }
        projectsUsing: { type: integer, format: int64 }

    ProjectBinding:
      type: object
      description: One row of the admin assignment matrix; null binding = system default
      properties:
        projectId: { type: string, format: uuid }
        key: { type: string, example: DEMO }
        name: { type: string }
        archived: { type: boolean }
        workspaceId: { type: string, format: uuid }
        workspaceName: { type: string }
        workflowId: { type: string, format: uuid, nullable: true }
        prioritySetId: { type: string, format: uuid, nullable: true }
        fieldSetId: { type: string, format: uuid, nullable: true }
        issueTypeSetId: { type: string, format: uuid, nullable: true }

    AdminIssueTypeSet:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string, example: All types }
        systemDefault: { type: boolean }
        types:
          type: array
          description: Display order
          items: { $ref: '#/components/schemas/IssueTypeResponse' }
        projectsUsing: { type: integer, format: int64 }

    UsageDetail:
      type: object
      description: '"Where exactly is this used?" — names instead of counts'
      properties:
        workflows:
          type: array
          items: { type: string }
        sets:
          type: array
          items: { type: string }
        projects:
          type: array
          items:
            type: object
            properties:
              id: { type: string, format: uuid }
              key: { type: string, example: DEMO }
              name: { type: string }
        issues: { type: integer, format: int64 }

    FieldType:
      type: string
      enum: [TEXT, TEXTAREA, NUMBER, DATE, SELECT, MULTI_SELECT, USER, CHECKBOX, URL]
      description: >-
        Determines the JSON value shape: TEXT/TEXTAREA/URL string ·
        NUMBER number · DATE "YYYY-MM-DD" string · SELECT option id ·
        MULTI_SELECT array of option ids · USER user UUID (workspace
        member) · CHECKBOX boolean

    FieldConfig:
      type: object
      nullable: true
      description: '`options` for selects; `min`/`max` for numbers'
      properties:
        options:
          type: array
          items:
            type: object
            required: [id, label]
            properties:
              id: { type: string, example: critical, description: Referenced by stored values — stable once used }
              label: { type: string, example: Critical }
              color: { type: string, nullable: true, example: '#B91C1C' }
        min: { type: number, nullable: true }
        max: { type: number, nullable: true }

    UpsertField:
      type: object
      required: [name, type]
      properties:
        name: { type: string, maxLength: 100 }
        key:
          type: string
          pattern: '[a-z0-9_]*'
          maxLength: 50
          description: Blank on create = derived from the name; immutable afterwards
        type: { $ref: '#/components/schemas/FieldType' }
        config: { $ref: '#/components/schemas/FieldConfig' }
        description: { type: string, maxLength: 500, nullable: true, description: Shown as a hint in issue forms }

    AdminField:
      type: object
      properties:
        id: { type: string, format: uuid }
        key: { type: string, example: story_points }
        name: { type: string, example: Story points }
        type: { $ref: '#/components/schemas/FieldType' }
        config: { $ref: '#/components/schemas/FieldConfig' }
        description: { type: string, nullable: true }
        archived: { type: boolean }
        usage: { $ref: '#/components/schemas/UsageInfo' }

    AdminFieldSet:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string, example: Engineering fields }
        systemDefault: { type: boolean }
        items:
          type: array
          description: Display order
          items:
            type: object
            properties:
              field: { $ref: '#/components/schemas/AdminField' }
              required: { type: boolean, description: Must be filled on create; cannot be cleared }
              showOnCreate: { type: boolean, description: Rendered in the create form }
        projectsUsing: { type: integer, format: int64 }

    FieldValueEntry:
      type: object
      description: A filled custom field on an issue
      properties:
        fieldId: { type: string, format: uuid }
        value: { description: Shape depends on the field type — see FieldType }

    CreateWorkspaceRequest:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 2, maxLength: 255 }

    WorkspaceResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        slug: { type: string, example: acme-inc }
        name: { type: string, example: Acme Inc }
        myRole: { $ref: '#/components/schemas/WorkspaceRole' }
        createdAt: { type: string, format: date-time }

    WorkspaceMemberResponse:
      type: object
      properties:
        userId: { type: string, format: uuid }
        email: { type: string, format: email }
        displayName: { type: string }
        avatarUrl: { type: string, nullable: true }
        role: { $ref: '#/components/schemas/WorkspaceRole' }
        joinedAt: { type: string, format: date-time }

    InviteMemberRequest:
      type: object
      required: [email, role]
      properties:
        email: { type: string, format: email }
        role: { $ref: '#/components/schemas/WorkspaceRole' }

    CreateProjectRequest:
      type: object
      required: [name, key]
      properties:
        name: { type: string, minLength: 2, maxLength: 255 }
        key:
          type: string
          pattern: '^[A-Z0-9]+$'
          minLength: 1
          maxLength: 10
          example: DEMO
        description: { type: string, nullable: true }

    UpdateProjectRequest:
      type: object
      properties:
        name: { type: string, minLength: 2, maxLength: 255 }
        description: { type: string }

    ProjectResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        workspaceId: { type: string, format: uuid }
        name: { type: string, example: Demo Project }
        key: { type: string, example: DEMO }
        description: { type: string, nullable: true }
        archived: { type: boolean }
        myRole: { $ref: '#/components/schemas/ProjectRole' }
        createdAt: { type: string, format: date-time }

    ProjectMemberResponse:
      type: object
      properties:
        userId: { type: string, format: uuid }
        email: { type: string, format: email }
        displayName: { type: string }
        avatarUrl: { type: string, nullable: true }
        role: { $ref: '#/components/schemas/ProjectRole' }
        joinedAt: { type: string, format: date-time }

    AddProjectMemberRequest:
      type: object
      required: [userId, role]
      properties:
        userId: { type: string, format: uuid }
        role: { $ref: '#/components/schemas/ProjectRole' }

    IssueTypeResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string, example: Bug }
        color: { type: string, example: '#EF4444' }
        icon: { type: string, nullable: true, example: bug }
        position: { type: integer }

    StatusResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string, example: In Progress }
        color: { type: string, example: '#3B82F6' }
        category: { $ref: '#/components/schemas/StatusCategory' }
        position: { type: integer }

    TransitionRule:
      type: object
      description: fromStatusId null = "from any status"
      properties:
        fromStatusId: { type: string, format: uuid, nullable: true }
        toStatusId: { type: string, format: uuid }

    ProjectConfig:
      type: object
      description: The effective taxonomy of a project (see GET …/config)
      properties:
        statuses:
          type: array
          description: Board-column order
          items: { $ref: '#/components/schemas/StatusResponse' }
        transitions:
          type: array
          description: Empty = all moves allowed
          items: { $ref: '#/components/schemas/TransitionRule' }
        priorities:
          type: array
          description: Display order; isDefault marks the default for new issues
          items:
            allOf:
              - $ref: '#/components/schemas/Priority'
              - type: object
                properties:
                  isDefault: { type: boolean }
        issueTypes:
          type: array
          items: { $ref: '#/components/schemas/IssueTypeResponse' }
        fields:
          type: array
          description: Custom fields of the project's field set, display order
          items:
            type: object
            properties:
              id: { type: string, format: uuid }
              key: { type: string, example: story_points }
              name: { type: string, example: Story points }
              type: { $ref: '#/components/schemas/FieldType' }
              config: { $ref: '#/components/schemas/FieldConfig' }
              description: { type: string, nullable: true }
              required: { type: boolean, description: Must be filled on create; cannot be cleared }
              showOnCreate: { type: boolean, description: Rendered in the create form }

    UserRef:
      type: object
      nullable: true
      properties:
        id: { type: string, format: uuid }
        displayName: { type: string }
        avatarUrl: { type: string, nullable: true }

    CreateIssueRequest:
      type: object
      required: [title, typeId, statusId]
      properties:
        title: { type: string, maxLength: 500 }
        description: { type: string, nullable: true }
        typeId: { type: string, format: uuid, description: Must be offered by the project's type set }
        statusId: { type: string, format: uuid, description: Must belong to the project's workflow }
        priorityId: { type: string, format: uuid, nullable: true, description: Omitted = the project's default priority }
        assigneeId: { type: string, format: uuid, nullable: true, description: Must be a workspace member }
        parentId: { type: string, format: uuid, nullable: true, description: Parent issue in the same project }
        dueDate: { type: string, format: date, nullable: true }
        fields:
          type: object
          nullable: true
          additionalProperties: true
          description: >-
            Custom field values keyed by field id (value shapes per
            FieldType). Required fields of the project's set must be
            present; fields outside the set or archived are rejected (422).
          example: { 'e1b2…': 5, 'f3c4…': critical }

    UpdateIssueRequest:
      type: object
      description: Partial update — omitted fields are left unchanged
      properties:
        title: { type: string, minLength: 1, maxLength: 500 }
        description: { type: string }
        typeId: { type: string, format: uuid, description: Must be offered by the project's type set }
        statusId: { type: string, format: uuid, description: Validated against workflow transition rules }
        priorityId: { type: string, format: uuid, description: Must be offered by the project's priority set }
        assigneeId: { type: string, format: uuid }
        dueDate: { type: string, format: date }
        fields:
          type: object
          additionalProperties: true
          description: >-
            Partial like the rest of the body — only listed field ids
            change; JSON null clears a value (required fields cannot be
            cleared).
        version:
          type: integer
          description: Optimistic lock — the `version` you last read; `409` when stale. Omit to skip the check.

    IssueResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        number: { type: integer, format: int64, example: 18 }
        key: { type: string, example: DEMO-18 }
        title: { type: string }
        description: { type: string, nullable: true }
        type: { $ref: '#/components/schemas/IssueTypeResponse' }
        status: { $ref: '#/components/schemas/StatusResponse' }
        priority: { $ref: '#/components/schemas/Priority' }
        assignee: { $ref: '#/components/schemas/UserRef' }
        reporter: { $ref: '#/components/schemas/UserRef' }
        parentId: { type: string, format: uuid, nullable: true }
        dueDate: { type: string, format: date, nullable: true }
        fields:
          type: array
          description: Filled custom fields only
          items: { $ref: '#/components/schemas/FieldValueEntry' }
        version: { type: integer, description: Send back in PATCH for optimistic locking }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    IssueHistoryResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        field: { type: string, example: status, description: 'Built-in attribute name, or the display name of a custom field' }
        oldValue: { type: string, nullable: true, example: To Do }
        newValue: { type: string, nullable: true, example: In Progress }
        changedById: { type: string, format: uuid }
        changedByName: { type: string }
        createdAt: { type: string, format: date-time }

    CreateCommentRequest:
      type: object
      required: [body]
      properties:
        body: { type: string, description: '`@DisplayName` mentions notify workspace members' }

    CommentResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        authorId: { type: string, format: uuid }
        authorName: { type: string }
        body: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    AttachmentResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        filename: { type: string, example: screenshot.png }
        sizeBytes: { type: integer, format: int64 }
        contentType: { type: string, example: image/png }
        uploadedById: { type: string, format: uuid }
        uploadedByName: { type: string }
        createdAt: { type: string, format: date-time }

    NotificationResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        type: { type: string, example: ISSUE_ASSIGNED }
        title: { type: string, example: You were assigned DEMO-18 }
        body: { type: string, nullable: true }
        link: { type: string, nullable: true, example: /w/…/p/…?issue=18 }
        read: { type: boolean }
        createdAt: { type: string, format: date-time }
